.navbar {
    background-color: rgb(106,159,108);
    font-size: 1em;
    font-family:  'Lucida Sans Unicode','Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px 7px 10px 7px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 30px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    border: 1.2px solid #7aa97c;
    border-collapse: collapse;
}

td.header {
  border: 1.2px solid #7aa97c;
  background: white;
  color: #6a9f6c;
  font-weight: bold;
  padding: 2pt 6pt 2pt 6pt;
}
td.normal {
  border: 1.2px solid #7aa97c;
  background:  white;
  padding: 2pt 6pt 2pt 6pt;
}
img.logo {
  width: 450px;
  height: auto;
  padding-right: 0px;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 10px;
}

img.thumb {
  width: 700px;
  height: auto;
  padding-right: 0px;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0px;
}

footer{
    color: grey;
    padding-left: 5px;
}