{% extends "layout_upload.html" %}
{% block title %}
Info
{% endblock %}
{% block content %}
<h2>Raster Uploaded</h2>
<p>Success! The raster file has been correctly uploaded.</p>
<p>Visit the <b>“Metadata”</b> page to view the raster metadata or the <b>“Thumbnail”</b> page to view an image of the
    raster. <br>If you wish to upload a new raster please do so
    using page <b>“New Upload”</b> page.</p>

{%if file %}
<li>
    The name of the uploaded raster is: <strong>{{ file }}</strong>
</li>
{% else %}
<li>
    File name not available
</li>
{% endif %}
{%if size_mb != None %}
<li>
    The file size of the uploaded raster is: <strong>{{ size_mb }} Megabytes</strong>
</li>
{% else %}
<li>
    File size not available
</li>
{% endif %}
</br>
</br>
{% endblock %}