<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>

<body>
    <div class="col-md-4">
        <img class="logo" src="{{logo_image}}" alt="Logo image">
    </div>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="navbar-brand">New Upload</a>
        <a href="{{ url_for('index_upload') }}" class="navbar-brand">File Info</a>
        <a href="{{ url_for('metadata') }}" class="navbar-brand">Metadata</a>
        <a href="{{ url_for('thumbnail') }}" class="navbar-brand">Thumbnail</a>
    </div>
    <div class="body-content">
        {% block content %}
        {% endblock %}
        </br>
    </div>
    <hr>
    <footer>
        <p>{{footer_text}}</p>
    </footer>
</body>

</html>