{% extends "layout_upload.html" %}
{% block title %}
Metadata
{% endblock %}
{% block content %}
<div>
    <h2>Raster Metadata</h2>
    <p> The table below contains the metadata of the uploaded raster.</p>
    <p>
        <b>NOTE:</b> If one or more properties are not available or are not set in the raster, in the table will appear
        the message
        <i>“not set or
            not available”</i>.
    </p>
    <p>
        If you wish to upload a new raster please do so using page <b>“New Upload”</b> page available through the
        navigation
        bar
        on top of the page, <br> or visit the <b>“Thumbnail”</b> page to view an image of the raster. The information
        about
        the uploaded
        file are available in the <b>“FileInfo”</b> page.
    </p>
</div>
</br>
<table>
    <thead>
        <tr>
            <td class="header"> Property </td>
            <td class="header"> Value </td>
        </tr>
    </thead>
    <tbody>
        {% for key, value in metadata.items() %}
        <tr>
            <td class="normal"> {{ key }} </td>
            <td class="normal"> {{ value }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</br>
{% endblock %}